In [3]:
import pandas as pd 

from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
documents = [
    "Machine learning is amazing and powerful.",
    "Deep learning is a subset of machine learning.",
    "Artificial intelligence is the future of technology."
]

In [4]:
vectorizer = TfidfVectorizer(stop_words = 'english')

In [5]:
tfidf_matrix = vectorizer.fit_transform(documents)

In [6]:
df = pd.DataFrame(tfidf_matrix.toarray(), columns = vectorizer.get_feature_names_out())

In [7]:
df

    amazing  artificial      deep  ...  powerful    subset  technology
0  0.562829         0.0  0.000000  ...  0.562829  0.000000         0.0
1  0.000000         0.0  0.452123  ...  0.000000  0.452123         0.0
2  0.000000         0.5  0.000000  ...  0.000000  0.000000         0.5

[3 rows x 10 columns]